@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

.font-poppins{
    font-family: "Poppins", sans-serif;
}

.artboard.phone-6.artboard-horizontal {
    width: 600px;
    height: 300px;
}